.main-div {
  width: 100%;
  min-height: 100vh;
  background-image: url("../assests/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: inherit;
  justify-content: center;
  flex-direction: column;
}

.main-div div {
  font-size: 18px;
}

.heading {
  font-size: 35px;
  text-align: center;
  font-weight: bold;
}

.add-data,
.submission-box {
  margin: 25px 25px 0;
  border-radius: 10px;
  background-color: white;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  opacity: 0.9;
}

.form-row {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  /* justify-content: space-between; */
}

input[type="range"] {
  width: 300px;
  transform: rotate(-90deg) /*translate(0, 0)*/;
  transform-origin: 0 0;
  -moz-transform: rotate(270deg);
}

.main-div button {
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 18px;
  background-color: #6976d9;
  border: none;
}

.error {
  background-color: #f44336;
  padding: 10px 20px;
}
