.main-div {
  width: 100%;
  min-height: 100vh;
  background: lavender;
  display: flex;
  align-items: center;
}

.main-div div {
  font-size: 18px;
}

.heading {
  font-size: 35px;
  text-align: center;
  font-weight: bold;
}

.add-data,
.submission-box {
  margin: 0 25px;
  border-radius: 10px;
  background-color: white;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.form-row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

input[type="range"] {
  width: 300px;
  transform: rotate(-90deg) /*translate(0, 0)*/;
  transform-origin: 0 0;
  -moz-transform: rotate(270deg);
}

button {
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 18px;
  background-color: #6976d9;
  border: none;
}

.error {
  background-color: #f44336;
  padding: 10px 20px;
}
